<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817162764795-ok7ucu3l2rdgb351kattlbj2b9u4jhv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817162764795-ok7ucu3l2rdgb351kattlbj2b9u4jhv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>817162764795-onj519lhrvm1iqc4v5np65r4le89nh6t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMg3heTngdboa9BEje-7VI5ODFPrR9HwE</string>
	<key>GCM_SENDER_ID</key>
	<string>817162764795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.evexia</string>
	<key>PROJECT_ID</key>
	<string>evexia-a7c80</string>
	<key>STORAGE_BUCKET</key>
	<string>evexia-a7c80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817162764795:ios:e0dd58c1e5762b0a2f0b5e</string>
</dict>
</plist>