<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EvexiaProduction</key>
	<dict>
		<key>environment</key>
		<string>Production</string>
	</dict>
	<key>EvexiaStaging</key>
	<dict>
		<key>environment</key>
		<string>Staging</string>
	</dict>
</dict>
</plist>
